log_level = "discord_bot=TRACE,gokz_rs=WARN"
log_dir = "../logs"
discord_token = ""
steam_token = ""
mode = "Dev"
dev_guild = 0
owner_id = 0
report_channel = 0
mysql_url = ""
mysql_table = ""
restart_command = ""
workspace_directory = ""
bot_directory = ""
jobs = 1
